<!-- $Id: DeinstallCommunity.tpl.htm,v 1.4 2008/10/01 10:17:17 kpapst Exp $ -->
<table class="tablesorter" cellspacing="0">
<col />
<col width="50"/>
<col />
<!-- BEGIN autoheader -->
<thead>
	<tr>
		<th>{TRANSLATION_uninstall_cid}</th>
		<th align="center">{TRANSLATION_id}</th>
		<th>{TRANSLATION_uninstall_alias}</th>
	</tr>
</thead>
<!-- END autoheader -->
<tbody>
    <!-- BEGIN row -->
    <tr>
        <td valign="top"><a class="delete" href="{CONSUMER_DELETE}">{CONSUMER_NAME}</a></td>
        <td align="center" valign="top">{CONSUMER_ID}</td>
        <td>{CONSUMER_ALIAS}</td>
    </tr>
    <!-- END row -->
	</tbody>
</table>

<script type="text/javascript">
$(document).ready( function() { 
        $(".tablesorter").tablesorter({ widgets: ['zebra'], headers: { 2: {sorter: false} }}); 
    } 
);
</script>
