<div id="coloredMenu">
<table cellspacing="1" cellpadding="4" border="0" width="{AUTO_SMALL_FORM}" class="categoryTable">
<!-- BEGIN autoheader -->
<tr>
<td class="ThLeft" align="left"><p>{TRANSLATION_import_mode_title}</p></td>
<td class="ThRight" align="left"><p>{TRANSLATION_import_mode_start}</p></td>
</tr>
<!-- END autoheader -->
<!-- BEGIN row -->
<tr>
<td class="{CSS_CLASS}" align="left">{MODE_NAME}</td>
<td class="{CSS_CLASS}" align="left"><a href="{LINK_URL}" class="textLink">{START_MODE}</a></td>
</tr>
<!-- END row -->
</table>
</div>
