body {
	margin: 0;
	padding: 0;
	background-position: right top;
	background-repeat: no-repeat;
	background-color: #ffffff;
	background-image: url(empty.gif);
}
img { border: 0; }
#logo {display:none;}
.logoHead {display:none;}
.buttondelim {
	float: left;
	height: 20px;
	border-left: 1px solid #F3F3F3;
	border-right: 1px solid #C3BDAA;
}
.clearUp {
    display: none; clear: both;
}
#info {
	background-position: left top;
	background-repeat: repeat-x;
	background-color: #ffffff;
	background-image: url(bg_menubar.gif);
	height: 22px;
	border-top: 1px solid #ffffff;
	padding: 0px 0px 0px 11px;
	font-family: Verdana, Arial, "MS Sans Serif", Geneva, sans-serif;
	font-size: 11px;
	color: #000000;
	letter-spacing: 0.02em;
	text-align: right;

}
#info a {
	background-color: transparent;
	text-decoration: none;
	margin: 0;
	color: #000000;
	height: 18px;
	display: block;
	float: left;

	padding: 3px 8px 0px 8px;
	vertical-align: top;
}
#info a:hover {
	background-color: #E9E9E9;
}
#info form {
	display: inline;
}
#info input.text {
	background-color: #ffffff;
	margin: 0px 0px 0px 8px;
	padding: 1px 0px 2px 0px;
	border: 1px solid #9C9C9C;
	font-size: 11px;
	vertical-align: top;
}
#info input.stdButton { 
	height: 19px;
	margin: 0px 8px 0px 3px;
	margin-top: 1px;
	padding: 0;
	font-size: 11px;
    background-image: url(button_bg.gif);
    background-repeat: no-repeat;
    background-color: #D5D5D5;
    border-width: 1px;
    border-style: solid;
    border-color: #7A7A7A;
}
#info select.std {
	font-family:     verdana, arial, geneva, helvetica;
	font-size:       11px;	
	line-height:     16px;
	vertical-align:  middle;
    color:           #000000;
    background-color:#FFFFFF;
	padding:         0px;
    margin:          0px;
	border:          1px solid #7A7A7A;
	height:			 16px;
}
#message {
	float: left;
	padding: 2px 0px 0px 0px;
}
#menu {
	float: right;
}
