body{
background:#CD8F75;
margin:0;
font: 10pt/14pt 'Lucida Grande', Verdana, Helvetica, sans-serif; 
}

A:link{ color:#B56115; text-decoration:none; }
A:hover{ color:#333333; text-decoration:underline; }
A:active{ color:#B56115; text-decoration:none; }
A:active:hover{ color:#333333; text-decoration:underline; }
A:visited{ color:#B56115; text-decoration:none; }
A:visited:hover{ color:#333333; text-decoration:underline; }

#header{
background:url(headerbg.gif) no-repeat #F4DDB1 top left;
width:548px;
height:304px;
margin-left:auto;
margin-right:auto;
margin-bottom:0;
}

#wrap{
width:548px;
margin-left:auto;
margin-right:auto;
background:#FFFFFF;
border:#B37159 1px solid;
background:url(bg.gif);
}

#container{
width:548px;
}

#navcontainer{
background:transparent;
margin-top:-160px;
}

 #navlist li{
background:transparent;
list-style-type: none;
text-align:left;
font-family: 'Lucida Grande', Verdana, Helvetica, sans-serif;
font-size:14px;
letter-spacing:-1px;
color:#666666;
width:150px;
}

#navlist li a:link { color: #F2F2F2; text-decoration:none; }
#navlist li a:visited { color: #CCCCCC; text-decoration:none; }
#navlist li a:hover {color: #333333; text-decoration:none; }

h3{
font-size:18px;
font-weight:bold;
color:#B56115;
letter-spacing:-2px;
}

.content{
background:#E8D3C4;
padding:21px;
text-align:justify;
font: 9pt/14pt 'Lucida Grande', Verdana, Helvetica, sans-serif;
color:#666666;
}

#footer{
background:#E8D3C4;
padding:9px;
text-align:center;
font: 8pt/9pt 'Lucida Grande', Verdana, Helvetica, sans-serif;
color:#333333;
}

#title{
background:#B56115;
text-align:right;
padding:9px;
font-family: 'Lucida Grande', Verdana, Helvetica, sans-serif;
font-size:10px;
text-transform:uppercase;
color:#FFFFFF;
}

#outer{
background:url(bg.gif);
width:700px;
margin-left:auto;
margin-right:auto;
}

.pullquote {
color:green;
width:150px;
float:right;
width:150px;
margin-top:10px;
margin-bottom:10px;
margin-left:10px;
padding-bottom:10px;
font-family:'Lucida Grande', Helvetica, sans-serif;
font-size: 24px;
line-height:26px;
letter-spacing:-3px;
text-align: right;
color:#DFA478;
}